* {
    box-sizing: border-box;
  }

/* Mobile View */
  body {
    font-family: 'Trebuchet MS';
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  nav {
    display: flex;
    width: 100%;
    height: 60px;
    background: slategray;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }

  footer {
    display: flex;
    width: 100%;
    height: 60px;
    background: slategray;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  header {
      text-align: center;
  }

  section {
    display: flex;
    margin-top: 10px;
    padding: 10px;
  }

 /* Targeted Element CSS  */

  nav > #name {
    padding-left: 150px;
    width: 50%;
  }

  nav > #navigation {
      padding-right: 50px;
      width: 50%;
      text-align: right;
  }

  #hero {
      width: 750px;
      height: 500px;
      font-size: 30px;
      border: 3px red solid;
  }

  #greeting {

  }

  #about {
    position: absolute;
    top: 685px;
    height: 300px;
    background: black;
    width: 100%;
    color: white;
    justify-content: center;
  }

  #portfolio {
    border: 3px red solid;
    position: relative;
    top: 300px;
    width: 750px;
    height: 650px;
    justify-content: center;
    margin-bottom: 70px;
  }

  #email {
    padding-left: 50px;
    width: 50%;
  }

  #socialMedia{
    padding-right: 50px;
    width: 50%;
    text-align: right;
  }